@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.card-style {
  height: 325px;
  width:  300px;
}

.image-style {
  height: 325px;
  width:  300px;
}

.image-overlay-style {
  height: 325px;
  width:  300px;
}
